*{
    box-sizing: border-box;
}
body{
background: rgb(198, 253, 255);
}
.box1{
    display: grid;
    background: rgb(65, 234, 252);
    border-radius: 10px;
    grid-template-columns: repeat(3,auto);
    height: 95vh;
    padding: 5px;
    box-shadow: 2px 2px;
}
.box4{
    background: blue;
    box-shadow: 2px 2px;
    width: 30vw;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.box5{
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;  
}
input[type="password"],input[type="text"]{
    width: 30vh;
}
.box5>h1{
    text-transform: lowercase;
}
.but1{
    background-color: rgb(60, 255, 99);
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    padding: 4px 92px;
    border-radius: 2px;
    border: none;
    box-shadow: 1px 1px;
}
.but1:hover{
    background-color: rgb(0, 245, 24);
}
.box3{
    margin: 5px;
    padding: 0px;
}
.submitbutton{
     width: 200px;
    size: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.submitbutton input{
    width: 200px;
    height: 35px;
    background-color: rgba(65, 125, 215, 0.862);
    color: white;
    font-size: 13pt;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 7px;
    border-color: rgb(35, 35, 73);
}    
    
.submitbutton input:hover{
    width: 200px;
    height: 35px;
    background-color: rgba(38, 102, 198, 0.862);
    color: white;
    font-size: 13pt;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 7px;
    border-color: rgb(26, 26, 219);
}  
.admin{  
    padding: 300px;
    width: auto;
    text-align: center;  
}  
.user{  
    padding: 300px;
    width: auto;
    text-align: center;  
}  