body{
    background-color: rgb(0,0,0);
}
h1{
    color: rgb(255, 0, 0);
    font-size: 20px;
    font-family:'Times New Roman', Times, serif;
    border: 4px #190 solid;
    border-radius: 10px;
    padding: 30px;
    margin: 20px;
}
h1:hover{
    color: rgb(130, 74, 74);
    border: 3px #190 solid;
    background-color: aliceblue;
    text-align:center;
}